p.warning {
  color: red;
  font-weight: bold;
  text-indent: 15px;
  font-size: 16px;
}

.savingWindow {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

body.popup {
  min-width: 300px;
}
.center {
  text-align: center;
}
.showClosedWindows {
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
}
label.showClosedWindows {
  margin-left: 5px;
}

